    <div class="container4">

        <div class="row2">

            <div class="col">

                <h2>About us</h2>
                <p>We are a school for kids and teens who are looking to sharpen their
                    skills and be able to have a space to practice their abilities with
                    no one to judge them. All kids are prompt to be as creativeas they
                    want when developing their proyects.</p>

            </div>

            <div class="col">

                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <div class="numbertext">1 / 4</div>
                        <img src=".\Assets\1.jpg" style="width:100%">
                        <div class="text2">Workshop</div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">2 / 4</div>
                        <img src=".\Assets\2.jpg" style="width:100%">
                        <div class="text2">Activities</div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">3 / 4</div>
                        <img src=".\Assets\ren.jpg" style="width:100%">
                        <div class="text2">UMAI!</div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">4 / 4</div>
                        <img src=".\Assets\3.jpg" style="width:100%">
                        <div class="text2">Gallery</div>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>


                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                </div>
                <script src="Slide.js"></script>

            </div>

            <hr>

            <div class="col">

                <h2>Mision</h2>
                <p>Darles a los jóvenes un lugar donde expresar sus ideas y aficiones en forma de arte, de manera que se
                    sientan a salvo de que los juzguen, además de darles el apoyo que necesitan para mejorar sus
                    técnicas.
                </p>

            </div>

            <div class="col">

                <h2>Values</h2>
                <p> Que nuestros talleres sean de la mejor calidad, permitiendo a los chicos la mayor cantidad de
                    aprendizaje, al interactuar con personas que trabajan en su área de interés.
                </p>

            </div>

            <div class="col">

                <h2>vision</h2>
                <p> Respeto (hacia los demás), Perseverancia (Hasta completar tus proyectos) y confianza (en tu
                    trabajo).</p>

            </div>

        </div>

    </div>
