  <!-- gallery -->
    <div class="container5">
        <h1>Gallery</h1>
        <hr>
        <div class="row">

            <div class="col">
                <div class="container6">
                    <img src=".\Assets\1866.jpg" id="img">
                    <div class="overlay2">Chinese culture</div>
                </div>

            </div>

            <div class="col">
                <div class="container6">
                    <img src=".\Assets\1866 (1).jpg" id="img" class="over">
                    <div class="overlay2">Cooking</div>
                </div>
            </div>

            <div class="col">
                <div class="container6">
                    <img src=".\Assets\3937.jpg" id="img" class="over">
                    <div class="overlay2">Public</div>
                </div>
            </div>

            <div class="col">
                <div class="container6">
                    <img src=".\Assets\adasd.jpg" id="img" class="over">
                    <div class="overlay2">Town</div>
                </div>
            </div>

            <div class="col">
                <div class="container6">
                    <img src=".\Assets\dfef.jpg" id="img" class="over">
                    <div class="overlay2">Store</div>
                </div>
            </div>

            <div class="col">
                <div class="container6">
                    <img src=".\Assets\qwer.png" id="img" class="over">
                    <div class="overlay2">Explode</div>
                </div>

            </div>
        </div>

    </div>