 <div class="container1">
        <img id="logito" src=".\Assets\logo.png" alt="Art Alley">
        <!-- Menu -->
        <div id="header">
            <ul class="nav">
                <li><a href="/Home">Home</a></li>
                <li><a href="/activities">Activities</a></li>
                <li><a href="/aboutus">About us</a>
                    <ul>
                        <li><a href="/aboutus">Misión</a></li>
                        <li><a href="/aboutus">Visión</a></li>
                        <li><a href="/aboutus">Valores</a></li>
                    </ul>
                </li>
                <li><a href="/gallery">Gallery</a>
                    <ul>
                        <li><a href="/students">Students</a></li>
                        <li><a href="/gallery">Artwork</a></li>
                    </ul>
                </li>
                <li><a href="/contacto">Contact</a></li>
            </ul>
        </div>

        <!-- Banner -->
        <div class="container3"></div>
    </div>