     <!-- actividades -->
    <div class="container2">
        <h1>Activities</h1>
        <hr>
        <div class="row">

            <div class="col">
                <div class="container">

                    <img src=".\Assets\7.jpg" alt="traditional" id="img" class="over">
                    <div class="overlay">
                        <div class="text">Tradicional</div>
                    </div>
                </div>

                <h2>Traditional</h2>
                <p>We use art supplies like color pencils, oil paints, watercolors and more.</p>

            </div>

            <div class="col">
                <div class="container">
                    <img src=".\Assets\8.jpg" alt="Digital" id="img" class="over">
                    <div class="overlay">
                        <div class="text">Digital</div>
                    </div>
                </div>

                <h2>Digital</h2>
                <p>you will have the opportunity to choose digigital drawing for your final proyect</p>
            </div>

            <div class="col">
                <div class="container">
                    <img src=".\Assets\9.jpg" alt="Acting" id="img" class="over">
                    <div class="overlay">
                        <div class="text">Acting</div>
                    </div>
                </div>

                <h2>Acting</h2>
                <p>we have a side activity were you can be part of the shows</p>

            </div>

    </div>